.menu {
  list-style: none;
  padding:0;
  margin:0;
  width: 150px;
  height: 300px;
  border: 1px solid #aaa;
}
.menu li {
  border: 2px solid #ddd;
  height: 50px;
  text-align: center;
}
.menu li a{
  text-decoration: none;
  text-transform: uppercase;
  display:block;
  color: black;
}
