.button {
  background: #eee;
  padding: 5px 15px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  color: #777;
  text-decoration: none;
  font: Arial sans-serif;

}
.button:hover{
  background: #ddd;
  text-decoration: underline;
}
